<div class="container">
<p id="notice"><%= notice %></p>

<h1>Negocios Disponibles</h1>
  <div class="col-md-3">
    <div class="thumbnail">
      <% @publications.each do |publication| %>
        
        <%= publication.title %>
        <%= image_tag(publication.photo, :class => 'img-responsive') %>
        <%= publication.description %> </br>
        <%= publication.address %>
        
        <div class="buttons" style="margin-top:10px; margin-bottom:10px">
          <%= link_to 'Show', publication, :class => 'btn' %>
          <%= link_to 'Edit', edit_publication_path(publication), :class => 'btn' %>
          <%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
        </div>
    </div>
  </div>

    <% end %>
<br>
</div>

<div class="container">
  <%= link_to 'New Publication', new_publication_path %>
</div>
